<div class="page-header">
  <h1>Venue #<%= @venue.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @venue.name %></dd>

  <p> </p>

  <dt>Neighborhood Name</dt>
  <dd><%= @venue_neighborhood %></dd>

  <p> </p>

  <dt>Address</dt>
  <dd><%= @venue.address %></dd>

  <p> </p>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <p> </p>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>

  <p> </p>

  <dt>Map</dt>
  <dd>
    <!-- Code for Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var map;
      function initialize() {

        var myLatlng = new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>);

        var mapOptions = {
          zoom: 15,
          center: myLatlng
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: '<%= @venue.name %>'
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div id="map-canvas"></div>
  </dd>

  <dt> Dish Favorites </dt>
  <dd>
      <% @venue_favdishes.each do |dish|  %>
        <li> <%= Dish.find_by({:id => dish.dish_id}).name %> (favorited by <%= User.find_by({:id => dish.user_id}).username.capitalize %>) </li>
      <% end  %>
  </dd>

