<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <p> </p>

  <dt>Cuisine Name</dt>
  <dd><%= @dish_cuisine %></dd>

  <p> </p>

  <dt>Favorite Venues</dt>
  <dd>
      <% @dish_favvenues.each do |venue|  %>
        <li> <%= Venue.find_by({:id => venue.venue_id}).name %> (Favorited by <%= User.find_by({:id => venue.user_id}).username.capitalize %>) </li>
      <% end  %>
  </dd>

